services:
  - type: web
    name: dripcube
    runtime: docker
    plan: free
    branch: main
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: ASPNETCORE_URLS
        value: http://0.0.0.0:10000
    autoDeploy: true
